{% extends "base.html" %} {% block content %}

<!-- Carousel Start -->
{% include "home/sliders.html" %}
<!-- Carousel End -->

<!-- Service Start -->
{% include "home/service.html" %}
<!-- Service End -->

<!-- About Start -->
{% include "aboutus/about.html" %}
<!-- About End -->

<!-- Categories Start -->
{% include "coursespage/category.html" %}
<!-- Categories Start -->

<!-- Courses Start -->
{% include "coursespage/courses.html" %}
<!-- Courses End -->

<!-- Team Start -->
{% include "aboutus/team.html" %}
<!-- Team End -->

<!-- Testimonial Start -->
{% include "coursespage/testimony.html" %}
<!-- Testimonial End -->

{% endblock content %}
